/*---------------------------------------------------Temporary*/
.jokes {
    background-color: green;
    margin: 5px 0;
    height: 300px;
}

.bg {
    margin: 5px 0;
}

.bg > p {
    padding-top: 250px;
}

.box-colour > p {
    font-size: 20px;
}

/*---------------------------------------------------Navigation Links */

#menu-bar {
    width: 100%;
    height: 60px;
}

.menu-icon, #tick-menu {
    font-size: 2.5rem;
    width: 40px;
    height: 40px;
    color: #9ee79d;
    position: absolute;
    display: none;
    visibility: hidden;
}

.menu-items {
    text-align: center;
}

.menu-items > li {
    font-size: 1.6rem;
    list-style-type: none;
    display: inline-block;
    position: relative;
}

.menu-items > li a {
    padding: 0 40px;
}

.newsletter {
    background-color: #9ee79d;
}

.quote {
    margin-top: 5px;
    background-color: #9ee79d;
}

.heading {
    margin-top: 15px;
}

.heading a {
    text-decoration: none;
}

.heading span {
    text-decoration: none;
    padding-top: 22px;
    color: green;
    font-size: 36px;
}
/* ----------------------------------------------------General*/

.center-text {
    text-align: center;
}

.sub-heading {
    margin-bottom: 10px;
    background-color: #9ee79d;
}

.spacer {
    height: 50px;
}

/*---------------------------------------------------Video and Audio General*/

.audio {
    height: 200px;
}

.video {
    height: 410px;
}

.box-colour {
    margin: 5px 0;
    background-color: green;
}

/*---------------------------------------------------Articles*/

.article {
    height: 200px;
}

/*--------------------------------------------------Links Display Area*/

.links-button {
    height: 50px;
}

.link-display-area {
    height: 230px;
}

/*-----------------------------------------------Support Area*/

.support {
    height: 200px;
}

/*-------------------------------------------------Media Queries*/

@media(max-width: 780px){
    .menu-items > li a {
        padding: 0 20px;
    }
}

@media(max-width: 768px) {

    /* hamburger menu shown at this width */

    .menu-icon, #tick-menu {
        display: block;
        visibility: visible;
    }

    #tick-menu {
        appearance: none;
    }

    .menu-items > li {
        display: none;
        z-index: 10;
        padding: 0 15px;
    }

    #tick-menu:checked ~ .menu-items > li {
        display: block;
        padding: 0 10px;
        text-align: left;
        background-color: white;
    }

}

/*-----------------------------------------------Support Area*/

