@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');

body {
    font-family: 'Zen Kurenaido', sans-serif;
    background-color: var(--really-light-green);
}

:root {
    --really-light-green: #E5F0E5;
    --light-green: #CBE1CB;
    --light-green-transparent: rgba(203, 225, 203, 0.8);
    --medium-green: #A2CDA2;
    --dark-green: #335C33;
    --comp-col: #C497AB;
    --black:#070D07;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*---------------------------------------------------Temporary*/
.jokes {
    background-color: #c1e5c182;
    margin: 5px 0;
    height: 400px;
}


.bg {
    margin: 5px 0;
}

.bg>p {
    padding-top: 250px;
}

.box-colour>p {
    font-size: 20px;
}

/*---------------------------------------------------Navigation Links */

#hamburger {
    display: none;
}

#menu-bar {
    width: 100%;
    height: 5em;
    background-color: var(--medium-green);
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu-icon,
#tick-menu {
    font-size: 2.5rem;
    width: 40px;
    height: 40px;
    color: var(--dark-green);
    position: absolute;
    display: none;
    visibility: hidden;
}

.menu-items {
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

.menu-items>li {
    font-size: 1.6rem;
    list-style-type: none;
    display: inline-block;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.menu-items>li a {
    padding: 0 40px;
    text-decoration: none;
    color: black;
}

li:hover {
    transform: translateY(-5px) scale(1.05);
}

.menu-logo {
    height: 120px;
    width: 120px;
}

.newsletter {
    background-color: var(--medium-green);
    margin: 20px 0;
}

.quote {
    margin-top: 5px;
    background-color: #c1e5c182;
}

/* .heading {
    margin-top: 15px;
} */

.heading a {
    text-decoration: none;
}

.heading span {
    text-decoration: none;
    /* padding-top: 22px; */
    color: var(--dark-green);
    font-size: 36px;
}

/*-----------------------------------------------------Main Images*/

/* Slogan */

#slogan-1 {
    opacity: 0;
    font-size: 3em;
    animation-name: appear-1;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
    padding-left: 30px;
}

#slogan-2 {
    opacity: 0;
    font-size: 3em;
    text-align: right;
    /* position: relative; */
    /* top: -20px; */
    /* right: 10%; */
    animation-name: appear-2;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-delay: 2s;
    padding-right: 30px;
}



@keyframes appear-1 {
    0% {
        opacity: 0;
        transform: translate(100px, 100px);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes appear-2 {
    0% {
        opacity: 0;
        transform: translate(-100px, -100px);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes appear-3 {
    0% {
        opacity: 0;
    }

    100% {
    /* display: inline-block; */
    opacity: 1;
    }
}

/* make grid for flower container */
.flower-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
    align-self: center;
    justify-self: center;
    align-items: center;
    justify-items: center;
    width: fit-content;
    min-width: 50%;
    margin: 0 auto;
    padding: 40px;
}

.grid-item {
    padding: 1em;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height: 100%;
    min-height: 30vh;
    transition: all 0.3s ease-in-out;
    background-color: var(--light-green);
    cursor: pointer;
}

.grid-item:hover {
    transform: scale(1.1);
}

#image-1 {
    height: 100%;
    width: 100%;
    max-width: 250px;
    max-height: 250px;
    background: url('../images/Picture2-modified.webp') no-repeat bottom center;
    background-size: contain;
    align-self: flex-end;
    justify-self: flex-end;
    grid-area: 1 / 2 / 2 / 3;
}

.top-left {
    grid-area: 1 / 1 / 2 / 2;
    align-self: end;
    justify-self: end;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-items: end;
    width: 75%;
}

.content-1 {
    grid-area: 1 / 1 / 2 / 2;
    align-self:flex-start;
    justify-self: flex-start;
}

#image-2 {
    height: 100%;
    width: 100%;
    max-width: 250px;
    max-height: 250px;
    background: url('../images/Picture1-modified.webp') no-repeat bottom center;
    background-size: contain;
    align-self: flex-end;
    justify-self: flex-start;
    grid-area: 1 / 1 / 2 / 2;
}

.top-right {
    grid-area: 1 / 2 / 2 / 3;
    align-self: flex-end;
    justify-self: start;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-items: start;
    width: 75%;
}

.content-2 {
    grid-area: 1 / 2 / 2 / 3;
    align-self: flex-start;
    justify-self: flex-end;
    text-align: end;
}

#image-3 {
    height: 100%;
    width: 100%;
    max-width: 250px;
    max-height: 250px;
    background: url('../images/Picture3-modified.webp') no-repeat top center;
    background-size: contain;
    align-self: flex-start;
    justify-self: flex-end;
    grid-area: 1 / 2 / 2 / 3;
}

.bottom-left {
    grid-area: 2 / 1 / 3 / 2;
    align-self: flex-start;
    justify-self: end;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-items: end;
    width: 75%;
}

.content-3 {
    grid-area: 1 / 1 / 2 / 2;
    align-self: flex-end;
    justify-self: flex-start;    
}

#image-4 {
    height: 100%;
    width: 100%;
    max-width: 250px;
    max-height: 250px;
    background: url('../images/Picture4-modified.webp') no-repeat top center;
    background-size: contain;
    grid-area: 1 / 1 / 2 / 2;
}

.bottom-right {
    grid-area: 2 / 2 / 3 / 3;
    align-self: flex-start;
    justify-self: start;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-items: start;
    width: 75%;
}

.content-4 {
    grid-area: 1 / 2 / 2 / 3;
    align-self: flex-end;
    justify-self: flex-end;
    text-align: end;
}

/* ----------------------------------------------------API Containers*/

.api-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
    width: 100%;
    height: 100%;
    min-height: 200px;
    position: relative;
    position: relative;
    /* padding-bottom: 40px; */
}

.api-header,
.api-content {
    width: 100%;
    height: 100%;
    border: 1px solid var(--black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: var(--light-green);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 5px;
    position: relative;
}

.refresh-icon {
    position: absolute;
    right: 30px;
    top: 10px;
    width: 30px;
    height: 30px;
    font-size: 25px;
    color: var(--dark-green)
}


.api-header:before {
    content: '';
    position: absolute;
    background: url('../images/arrow.png') no-repeat center center;
    background-size: contain;
    width: 100px;
    height: 100px;
    right: -60px;
    top: -20px;
    transform: rotate(45deg);
    z-index: 2;
}


/* ----------------------------------------------------General*/

header {
    /* border-bottom: solid 2px green;
    margin-bottom: 10px; */
    background-color: white;
}

.center-text {
    text-align: center;
}

.sub-heading {
    margin-bottom: 10px;
    background-color: #c1e5c182;
}

.spacer {
    height: 50px;
}

.label {
    background-color: var(--dark-green);
    margin: 5px;
    padding-top: 10px;
    color: white;
    border-radius: 10px;
}

.article-heading {
    height: 50px;
    background-color: white;
    margin-top: 280px;
    border-radius: 10px;
    text-align: left;
    font-size: 26px;
}

.article-heading i {
    color: var(--dark-green);
    font-size: 25px;
    margin-top: 10px;
}

.green-spacer {
    height: 50px;
    background-color: var(--medium-green);
}

.btn-success {
    color: #fff;
    background-color: var(--dark-green);
    border-color: var(--dark-green);
}

/* ---------------------------------------------------About Us*/

.arrow-right {
    text-align: left;
}

.arrow-left {
    text-align: right;
}

.about-us {
    text-align: center;
    font-size: 22px;
}

.about-us-positioning {
    margin-bottom: 20px;
}

/* -------------------------------------------------Meet the Team */

.meet-team-header {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 10px;
}

.team-id-image {
    display: flex;
    justify-content: center;
}

.team-id-image img{
    width: 75%;
    border-radius: 50%;
}

.team-text {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

/* ----------------------------------------------------Ratings*/

.ratings-icon {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    font-size: 30px;
}

.rating-text {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    font-size: 30px;
}

/* ----------------------------------------------------Footer*/

footer {
    height: 200px;
    width: 100%;
    text-align: center;
}

footer ul {
    list-style-type: none;
    padding-top: 35px;
}

footer ul>li {
    display: inline;
    font-size: 2rem;
    padding: 0 3vw;
}

footer p {
    font-size: 1.2rem;
    font-weight: 500;
}

footer i {
    color: var(--dark-green);
}

/*---------------------------------------------------Video and Audio General*/

.audio {
    height: 200px;
}

.audio>h2 {
    padding-top: 20px;
}

.audio>p {
    padding-top: 10px;

}

.video {
    /* height: 410px; */
    padding: 20px;
}

.box-colour {
    margin: 5px 0;
    background-color: var(--comp-col);
}

/*---------------------------------------------------Articles*/

.article {
    height: 200px;
}

.small-hidden {
    display: none;
}

.hidden {
    background-color: rgba(241, 253, 238, 0.92);
    border-radius: 10px;
    height: 100%;
    display: none;
}

.article-text-position {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.hidden-text > p {
    text-align: left;
    font-size: 17px;
}

.hidden-text > h4 {
    font-size: 20px;
    text-align: left;
    font-weight: bold;
    padding-bottom: 5px;
    color: var(--dark-green);
}

.hidden-text h4 i {
    padding-left: 5px;
    color: var(--dark-green);
}

.hidden-text li {
    text-align: left;
    font-size: 17px;
}

.hidden-text ul {
    padding-left: 15px;
}

.hidden > h2 {
    padding-top: 20px;
    padding-left: 20px;
    text-align: left;
}

.article-heading-hidden {
    height: 50px;
    background-color: white;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 10px;
    text-align: left;
    font-size: 23px;
}

.article-heading-hidden i {
    color: var(--dark-green);
    font-size: 25px;
    margin-top: 10px;
}

.article-heading-hidden a {
    text-decoration: none;
    color: var(--black);
}

.article-heading-hidden:hover {
    cursor: pointer;
    border: solid 2px var(--dark-green);
}

.article:hover .hidden {
    display: block;
}

.article:hover .inner {
    display: none;
}

.article {
    cursor: pointer;
}

/*--------------------------------------------------Links Display Area*/

.links-button {
    height: 50px;
    background-color: var(--light-green);
}

.link-display-area {
    padding-bottom: 14px;
    background-color: var(--light-green);
}


.link-display-area a {
    color: inherit;
    font-weight: bold;
}

.links-button p {
    display: inline-block;
}

.links-button i {
    width: 100%;
    display: inline;
}

.links-button:hover {
    cursor: pointer;
    transform: translateY(-5px) scaleY(1.05) scaleX(1.01);
}

.active-links-button {
    background-color: var(--dark-green);
    color: white;
}

.hidden-links {
    display: none;
}

.app-link {
    position: relative;
    padding: 5px 0px;
}

.app-link::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 70%;
    left: 15%;
    border-bottom: 1px solid var(--dark-green);
}

.app-link:last-of-type::before {
    border-bottom: none;
}

/*-----------------------------------------------Support Area*/

.support {
    height: 200px;
    padding-top: 50px;
}

/*-----------------------------------------------Support Area*/

.support {
    height: 100px;
    background-color: var(--comp-col);
}

/*-----------------------------------------------Sleep Articles*/

#sleep-article-1 {
    height: 400px;
    width: 100%;
    background: url('../images/sleep2.jpeg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position-y: 70%;
    border-radius: 10px;
    border: 2px solid var(--dark-green);
    opacity: 0.8;
}

#sleep-article-2 {
    height: 400px;
    width: 100%;
    background: url('../images/sleep3.jpeg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position-y: 10%;
    border-radius: 10px;
    border: 2px solid var(--dark-green);
    opacity: 0.8;
}

#sleep-article-3 {
    height: 400px;
    width: 100%;
    background: url('../images/sleep4.jpeg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position-y: 30%;
    border-radius: 10px;
    border: 2px solid var(--dark-green);
    opacity: 0.8;
}

#sleep-article-4 {
    height: 400px;
    width: 100%;
    background: url('../images/sleep7.jpeg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position-y: 60%;
    border-radius: 10px;
    border: 2px solid var(--dark-green);
    opacity: 0.8;
}

/*-----------------------------------------------Stress Articles*/

#stress-article-1 {
    height: 400px;
    width: 100%;
    background: url('../images/stress1.webp') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position-y: 80%;
    border-radius: 10px;
    border: 2px solid var(--dark-green);
    opacity: 0.8;
}

#stress-article-2 {
    height: 400px;
    width: 100%;
    background: url('../images/stress2.webp') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position-y: 40%;
    border-radius: 10px;
    border: 2px solid var(--dark-green);
    opacity: 0.8;
}

#stress-article-3 {
    height: 400px;
    width: 100%;
    background: url('../images/stress4.webp') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position-y: 30%;
    border-radius: 10px;
    border: 2px solid var(--dark-green);
    opacity: 0.8;
}

#stress-article-4 {
    height: 400px;
    width: 100%;
    background: url('../images/stress5.webp') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position-y: 60%;
    border-radius: 10px;
    border: 2px solid var(--dark-green);
    opacity: 0.8;
}

/*-----------------------------------------------Exercise Articles*/

#exercise-article-1 {
    height: 400px;
    width: 100%;
    background: url('../images/exercise1.webp') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position-y: 80%;
    border-radius: 10px;
    border: 2px solid var(--dark-green);
    opacity: 0.8;
}

#exercise-article-2 {
    height: 400px;
    width: 100%;
    background: url('../images/exercise2.webp') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position-y: 40%;
    border-radius: 10px;
    border: 2px solid var(--dark-green);
    opacity: 0.8;
}

#exercise-article-3 {
    height: 400px;
    width: 100%;
    background: url('../images/exercise3.webp') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position-y: 30%;
    border-radius: 10px;
    border: 2px solid var(--dark-green);
    opacity: 0.8;
}

#exercise-article-4 {
    height: 400px;
    width: 100%;
    background: url('../images/exercise4.webp') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position-y: 60%;
    border-radius: 10px;
    border: 2px solid var(--dark-green);
    opacity: 0.8;
}

/*-----------------------------------------------Concentration Articles*/

#concentration-article-1 {
    height: 400px;
    width: 100%;
    background: url('../images/concentration1.webp') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position-y: 80%;
    border-radius: 10px;
    border: 2px solid var(--dark-green);
    opacity: 0.8;
}

#concentration-article-2 {
    height: 400px;
    width: 100%;
    background: url('../images/concentration3.webp') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position-y: 40%;
    border-radius: 10px;
    border: 2px solid var(--dark-green);
    opacity: 0.8;
}

#concentration-article-3 {
    height: 400px;
    width: 100%;
    background: url('../images/concentration5.webp') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position-y: 30%;
    border-radius: 10px;
    border: 2px solid var(--dark-green);
    opacity: 0.8;
}

#concentration-article-4 {
    height: 400px;
    width: 100%;
    background: url('../images/concentration6.webp') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position-y: 60%;
    border-radius: 10px;
    border: 2px solid var(--dark-green);
    opacity: 0.8;
}



/*-------------------------------------------------Media Queries*/
@media (max-width: 1570px) {
    .hidden-text > p {
        font-size: 15px;
    }
    .hidden-text > h4 {
        font-size: 16px;
    }
    .article-heading-hidden {
        font-size: 24px;
    }
    .hidden-text li {
        font-size: 15px;
    }
}

@media (max-width: 1350px) {
    .article-heading-hidden {
        margin-top: 0;
        font-size: 20px;
        height: 40px;
    }
    .article-heading-hidden i {
        margin-top: 5px;
    }
    .small-hidden {
        display: block;
    }
    .large-hidden {
        display: none;
    }
    .article-text-position {
        padding-top: 10px;
    }
    .hidden-text > h4 {
        padding-bottom: 2px;
        font-size: 15px;
    }
    .hidden-text > p {
        font-size: 13px;
    }
    .hidden-text li {
        font-size: 13px;
    }
    .hidden h2 {
        font-size: 22px;
    }
}

@media screen and (max-width: 1050px) {
    .flower-row {
        grid-gap: 15px;
        min-width: 70%;
        padding: 20px;
    }
}

@media screen and (max-width: 992px) {
    .link-display-area {
        height: 230px;
    }
}

@media screen and (max-width: 970px) {
    .flower-row {
        grid-gap: 10px;
        min-width: 80vw;
        padding: 0;
    }

    .flower-row .content {
        opacity: 0;
    }

    .grid-item {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-gap: 0px;
        width: fit-content;
        padding: 1em;
        height: fit-content;
    }
    .grid-item:hover .content {
        opacity: 1;
    }

    .heart-link {
        grid-area: 1 / 1 / 2 / 2;
        width: 40vw !important;
        height: 40vw !important;
    }
}


@media(max-width: 768px) {

    header {
        position: relative;
        background-color: var(--light-green);
        height: 5em;
    }
    
    #hamburger {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 5em;
        height: 5em;
        outline: none;
        z-index: 999;
    }
  
    #menu-bar {
        background-color: var(--light-green-transparent);
        backdrop-filter: blur(5px);
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: -100vw;
        right: 0;
        bottom: 0;
        z-index: 100;
        transition: all 0.3s ease-in-out;
    }
    #menu-bar.open {
        left: 0;
    }

    .menu-items {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .menu-items>li a {
        font-size: 2em;
        /* padding: 1em; */
    }

    .menu-logo {
        height: 200px;
        width: 200px;
    }

    .submitButtom {
        margin-left: 18px;
    }
    .hidden-text > h4 {
        font-size: 18px;
    }
    .hidden-text > p {
        font-size: 15px;
    }
    .hidden-text li {
        font-size: 15px;
    }
    .hidden h2 {
        font-size: 24px;
    }

    /* App links */

    .app-link-container {
        text-align: center;
    }
}

@media(max-width: 575px) {
    .team-id-image img {
        width: 30%;
    }
}

@media(max-width: 485px) {
    .hidden-text > h4 {
        font-size: 16px;
    }
    .hidden-text > p {
        font-size: 13px;
    }
    .hidden-text li {
        font-size: 13px;
    }
}

@media screen and (max-width: 970px) {
    .flower-row {
        grid-gap: 10px;
        padding: 0;
        width: 100%;
    }

    .flower-row .content {
        opacity: 0;
        position: absolute;
        width: 30vw;
        padding: 0 10px;
        transition: all 0.3s ease-in-out;
    }
    .grid-item:hover {
        z-index: 10;
        transform: scale(1.05);
    }
    .grid-item:hover .content {
        opacity: 1;
    }

    .grid-item:hover .heart-link {
        opacity: 0.2;
    }

    .content-1 {
        left: 0;
    }


    /*   ----------------------------       Added by Eric -----------   */
    .box-colour {
        margin-top: 15px;
    }

    .spacer {
        height: 0px;
    }

    .article-heading p {
        font-size: 18px;
    }

    .links-button {
        height: 40px;
    }



    .content-2 {
        right: 0;
    }

    .content-3 {
        left: 0;
        bottom: 0;
    }

    .content-4 {
        right: 0;
        bottom: 0;
    }

    .grid-item {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-gap: 0px;
        width: fit-content;
        padding: 1em;
        height: fit-content;
        position: relative;
    }
    .hidden h2 {
        font-size: 22px;
    }
    .article-text-position {
        padding-left: 8px;
        padding-right: 8px;
    }
  
    .article-heading-hidden {
        font-size: 20px;
        height: 35px;
    }

    #slogan-1,
    #slogan-2 {
        font-size: 1.8em;
    }
}